<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
type="text/css" />
<link href="/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
<link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
<link href="/plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" type="text/css" />

<link href="/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN THEME GLOBAL STYLES -->
<link href="/css/components.css" rel="stylesheet" id="style_components" />
<link href="/css/plugins.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/css/main-twilio.css">
<!-- END THEME GLOBAL STYLES -->
<!-- BEGIN THEME LAYOUT STYLES -->
<link href="/css/layout3/layout.min.css" rel="stylesheet" type="text/css" />
<link href="/css/layout3/default.min.css" rel="stylesheet" id="style_color" />
<link href="/css/custom.min.css" rel="stylesheet" type="text/css" />
<link href="/css/style.css?v=1.4" rel="stylesheet" type="text/css" />
<link href="/plugins/metisMenu/dist/metisMenu.min.css" rel="stylesheet" type="text/css" />
<link href="/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet" type="text/css" />
<link href="/plugins/bootstrap-toggle/bootstrap-toggle.css" rel="stylesheet">
<link href="/plugins/bootstrap-multiselect/css/bootstrap-multiselect.min.css" rel="stylesheet">
<link href="/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet" type="text/css" />
<link href="/plugins/jquery-file-upload/blueimp-gallery/blueimp-gallery.min.css" rel="stylesheet" type="text/css" />
<link href="/plugins/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet" type="text/css" />
<link href="/plugins/jquery-file-upload/css/jquery.fileupload-ui.css" rel="stylesheet" type="text/css" />
<link href="/css/intlTelInput.css" rel="stylesheet" type="text/css" />
<link href="/css/ui-intlTelInput.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" href="/css/tooltip/tooltipster.bundle.min.css" />
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,300">
<link rel="stylesheet" href="/css/textAngular.css" type="text/css">

<link rel="stylesheet" href="/css/select.css">
<link rel="stylesheet" href="css/jquery.toast.css">
<link rel="stylesheet" href="/css/angular-bootstrap-toggle.css">
<link rel="stylesheet" href="/css/error.css">




<!-- themes -->
<!-- <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">



<style>
.select2-container--bootstrap {
    width: 100% !important;
}

.intl-tel-input {
    width: 100%;
}

.help-block {
    color: #e73d4a;
}

.error {
    color: #e73d4a;
}

.select2-container .select2-choice .select2-arrow {
    background-image: none;
    background: none;
    border-left: none;
}

.select2-container .select2-choice>.select2-chosen {
    color: #555;
}


@media (max-width: 991px) {
    .top-menu {
        display: none !important;
    }
}
</style>
<style type="text/css">
.PTable {
    display: table;
}

.PTitle {
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.PHeading {
    display: table-row;
    font-weight: bold;
    text-align: center;
}

.PRow {
    display: table-row;
}

.PCell {
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 0px;
}
.depth-1 {
padding-left: 0px;
font-weight: bold;
}
.depth-2 {
padding-left: 15px;
}
.depth-3 {
padding-left: 30px;
}

</style>
<style>


.blockUI.blockMsg{top: 50%!important; left: 50%!important; transform: translate(-50%, -50%)!important; width: 90%!important; background-color: #4cbeac!important; border: none!important; padding: 10px!important; border-radius: 5px!important;}
.blockUI.blockMsg h1{font-size: 14px!important; margin: 0px; color: #fff!important;}
@media (min-width:769px){
    .blockUI.blockMsg{width: inherit!important; padding: 15px!important;}
    .blockUI.blockMsg h1{font-size: 18px!important;}
}

</style>
<!-- END THEME LAYOUT STYLES -->
<link rel="shortcut icon" href="/img/favicon1.png" />
<style>
    .control-label {
        text-align: left !important;
    }

    .s2m1 {
        width: 100%;
    }
</style>