<div data-ng-include="'views/admin/common-css.html'"></div>

<div class="page-wrapper">
    <div class="page-wrapper-row">
        <div class="page-wrapper-top">
            <!-- BEGIN HEADER -->
            <div data-ng-include="'views/layouts/tpl/header.html'" data-ng-controller="menuCtrl as mnc"
                class="page-header"></div>
            <!-- END HEADER -->
        </div>
    </div>
    <div class="page-wrapper-row full-height">
        <div class="page-wrapper-middle">
            <div class="page-container">
                <div class="page-content">
                    <div class="container">

                        <!-- Common Include -->
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="portlet light ">
                                    <div class="portlet-title">
                                        <div class="caption caption-md">
                                            <i class="icon-magnifier font-blue"></i>
                                            <span class="caption-subject font-blue sbold uppercase">User List</span>
                                        </div>
                                        <div class="actions" ng-show="userPermissions.includes('admin.new.user')">
                                            <button class="btn btn-mdm blue" ng-click="openCreateUserModal()"><i class="fa fa-plus-circle" ></i> Add new user</button>                    
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">                            
                                                    <div class="input-group input-group">
                                                        <input type="text" class="form-control" ng-model="keyword" placeholder="Search for..." ng-enter="search(keyword,0)">
                                                        <span class="input-group-btn">
                                                            <button class="btn blue" type="button" ng-click="search(keyword)">Search <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                                                        </span>
                                                    </div>
                                                    <!-- /input-group -->
                                                </div>
                                            </div>
                                        </div>
                        
                                          <table class="table table-bordered" ng-hide="userList.length == 0">
                                            <thead>
                                                <tr>
                                                    <th>Sr</th>
                                                    <th>Name</th>
                                                    <th>Mobile</th>
                                                    <th>Email</th>
                                                    <th>Roles</th>
                                                    <th>Enabled/Disabled</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="tr in userList" apply-switch-for-user >
                                                    <td ng-bind="begin + $index + 1"></td>
                                                    <td ng-bind="tr.name"></td>
                                                    <td ng-bind="tr.mobile"></td>
                                                    <td ng-bind="tr.email"></td>
                                                    <td> <span ng-repeat="role in tr.roles">{{role.role}} | </span>
                                                        <!-- <ul  ng-repeat="role in tr.roles">
                                                            <li>{{role.role}}</li>
                                                        </ul> -->
                                                    </td>
                                                    <td ng-show="userPermissions.includes('amin.user.status.change')"><input type="checkbox" data-toggle='toggle' data-uid='{{tr.id}}' class="toggle-button" ng-checked="tr.status == '1' ? '1' : ''"  ></td>
                                                     <td ng-show="userPermissions.includes('amin.user.edit')">
                                                    <a data-toggle="modal" ng-click="getUserById(tr.email)" class="btn btn-outline btn-circle btn-sm yellow">
                                                      <i class="fa fa-edit"></i> Edit
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Common Include end -->
                     </div>
                </div>
            <a href="javascript:;" class="page-quick-sidebar-toggler">
                <i class="icon-login"></i>
            </a>
            </div>
        <!-- END CONTAINER -->
        </div>
     </div>
<div class="page-wrapper-row">
<div class="page-wrapper-bottom">
<!-- BEGIN FOOTER -->
<div data-ng-include="'views/layouts/tpl/footer.html'"> </div>
<!-- END FOOTER -->
</div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{userId !='' ? 'Update User' :'Add User'}}</h4>
            </div>
            <form class="form form-horizontal" id="createUserForm">
                <input type="hidden" id="id" name="id" value="{{userId}}" ng-model="id" />
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Name</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" placeholder="Enter name" name="name"
                                        ng-model="name">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Email</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" placeholder="example@gmail.com" name="email"
                                        ng-model="email">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Mobile Number</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" onKeyUp="check(this.id,true)"
                                        ng-blur="mobile" onkeydown="check(this.id,true)"
                                        onfocusout="check(this.id,true)" id="mobile" name="mobile" ng-model="mobile">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Alt Mobile Number</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" onKeyUp="check(this.id,true)"
                                        ng-blur="altmobile" onkeydown="check(this.id,true)"
                                        onfocusout="check(this.id,true)" id="mobile" name="altmobile" ng-model="altmobile">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="userId == ''">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Password</label>
                                <div class="col-md-9">
                                    <input type="password" class="form-control" placeholder="Enter password"
                                        name="password" ng-model="password">
                                </div>
                            </div>
                        </div>
                    </div>
                  
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Select Role</label>
                                <div class="col-md-9">
                                    <select class="form-control roleDropDown s2m1" multiple="multiple" name="roles"
                                        ng-model="roles">
                                        <option value="">Please Select</option>
                                        <option value="{{role.id}}" ng-repeat="role in roleList">{{role.name}}</option>
                                    </select>
                                    
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
                <div class=" modal-footer">
                    <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-if="userId==''"
                        ng-click="createUser()">Add</button>

                        <button type="button" class="btn btn-primary" ng-if="userId!=''"
                        ng-click="updateUser(userId)">Save</button>
                 </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal -->


<script>
      $('#createUserForm').validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-block help-block-error', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            ignore: "", // validate all fields including form hidden input
            rules: {
                name: {
                    required: true
                },
                mobile: {
                    required: true,
                    number: true,                  
                    minlength: 10,
                    maxlength: 10
                },
                email: {
                    required: true,
                   
                },
                password: {
                    required:true
                }
             
               


            },
            messages: {
                      
                       mobile: {
                    required: "Enter valid Mobile Number.",
                    minlength: "Mobile number should be 10 digit.",
                    maxlength: "Mobile number should be 10 digit."
                },
                whatsAppNumber: {
                    required: "Enter valid Mobile Number.",
                    minlength: "Mobile number should be 10 digit.",
                    maxlength: "Mobile number should be 10 digit."
                },
                exotelNumber: {
                    required: "Enter valid Mobile Number.",
                    minlength: "Mobile number should be 10 digit.",
                    maxlength: "Mobile number should be 10 digit."
                },
                      
                       
       
                   },
            errorPlacement: function (error, element) { // render error placement for each input type
                if (element.attr("name") == "mobile") {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element); // for other inputs, just perform default behavior
                }
            },
            highlight: function (element) { // hightlight error inputs
                $(element)
                    .closest('.form-group').addClass(
                        'has-error'); // set error class to the control group
            },
            unhighlight: function (element) { // revert the change done by hightlight
                $(element)
                    .closest('.form-group').removeClass(
                        'has-error'); // set error class to the control group
            },
            success: function (label) {
                label
                    .closest('.form-group').removeClass(
                        'has-error'); // set success class to the control group
            }
        });
     
</script>