<style>
    @media (max-width: 991px){
                .static-info .value ,.static-info .name {
                    font-size: 12px;
                    font-weight: normal;
                }
                .nameOnly{
                    font-weight: 600;
                }
                .quick-nav, .atlwdg-trigger{
                    display: none;
                }
                
            }
    
        .page-header-top,
        .page-header .page-header-menu,
        .page-wrapper .page-wrapper-top, .atlwdg-trigger {
            display: none;
        }
    
        .container {
            width: 1340px;
        }
    
        .lng {
            margin: 0px 2px;
        }
    
        .doctor-list tbody tr {
            cursor: pointer;
        }
    </style>
<div class="row fullview">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-magnifier font-green"></i>
                            <span class="caption-subject font-green sbold uppercase">Change Password</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <form class="form-horizontal" id="formChangePassword">
                            <div class="form-group">
                                <label class="control-label col-sm-3">Current password</label>
                                <div class="col-sm-4">
                                    <input type="password" id="current_password" ng-model="cpc.current_password" name="current_password" class="form-control" placeholder="Enter your currnet password">
                                </div>
                                
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Password</label>
                                <div class="col-sm-4">
                                    <input type="password" id="new_password" ng-model="cpc.new_password" name="new_password" class="form-control" placeholder="Enter your new password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Repeat password</label>
                                <div class="col-sm-4">
                                    <input type="password"  id="repeat_password" ng-model="cpc.repeat_password" name="repeat_password" class="form-control" placeholder="Repeat your new password">
                                </div>
                            </div>
                            <div class="form-actions col-sm-offset-3">
                                <button type="button" ng-click="cpc.changePassword()" class="btn blue">Submit</button>
                                <button type="reset" class="btn default">Reset</button>
                            </div>
                        </form>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    (function () {
        $('#formChangePassword').validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-block help-block-error', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            ignore: "", // validate all fields including form hidden input
            rules: {
                current_password: {
                    required: true,
                },
                new_password: {
                    required: true,
                },
                repeat_password: {
                    required: true,
                    equalTo: "#new_password"
                }
            },
            highlight: function (element) { // hightlight error inputs
                $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
            },
            unhighlight: function (element) { // revert the change done by hightlight
                $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
            },
            success: function (label) {
                label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
            }

        });
        applySelect2();
    })();
</script>