




<style>
    .select2-container--bootstrap {
        width: 100% !important;
    }
    
    .intl-tel-input {
        width: 100%;
    }
    
    .help-block {
        color: #e73d4a;
    }
    
    .error {
        color: #e73d4a;
    }
    /* .sweet-alert .form-group .sa-input-error {
      display: block ;
  } */
    
    .select2-container .select2-choice .select2-arrow {
        background-image: none;
        background: none;
        border-left: none;
    }
    
    .select2-container .select2-choice>.select2-chosen {
        color: #555;
    }
    
    
    @media (max-width: 991px) {
        .top-menu {
            display: none !important;
        }
    }
    </style>
<style>
    .select2-container--bootstrap {
        width: 100% !important;
    }
    
    .intl-tel-input {
        width: 100%;
    }
    
    .help-block {
        color: #e73d4a;
    }
    
    .error {
        color: #e73d4a;
    }
    
    .select2-container .select2-choice .select2-arrow {
        background-image: none;
        background: none;
        border-left: none;
    }
    
    .select2-container .select2-choice>.select2-chosen {
        color: #555;
    }
    
    
    @media (max-width: 991px) {
        .top-menu {
            display: none !important;
        }
    }
    </style>
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <link href="/plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" type="text/css" />
  
  <div data-ng-include="'views/customer/headerCommon.html'"
                     ></div>

<body class="toggle-sidebar">

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a >
        <img src="https://thebanks.eu/img/logos/Easybank_NO.png" alt="logo" height="70" class="logo-default"> </a>
    </div><!-- End Logo -->

  

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="https://png.pngitem.com/pimgs/s/78-786293_1240-x-1240-0-avatar-profile-icon-png.png" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{req.firstName}}</span>
          </a><!-- End Profile Iamge Icon -->

      
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <!-- <h6></h6> -->
              <span>{{req.email}}</span>
            </li>
            <!-- <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            -->
            <li>
                <a class="dropdown-item d-flex align-items-center" href="#" ng-click="logOut()">
                  <i class="bi bi-box-arrow-right"></i>
                  <span>Sign Out</span>
                </a>
              </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->


  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Profile</h1>
     
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              <img src="https://png.pngitem.com/pimgs/s/78-786293_1240-x-1240-0-avatar-profile-icon-png.png" alt="Profile" class="rounded-circle">
              <h2>{{req.firstName+" "+req.middleName+" "+req.lastName}}</h2>
              <h3>{{req.email}}</h3>
             
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#account-info-edit">Account Info</button>
                </li>
             
                  <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-balance-list"> Balance</button>
                  </li>
               
                <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-beneficiary-info"> Beneficiary Info</button>
                  </li>

                  <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-service-info"> Service Request</button>
                  </li>
                  <!-- <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-beneficiary-list"> Beneficiary List</button>
                  </li> -->
                <!-- <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Address</button>
                </li> -->

				 <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#transactions">Transactions</button>
                </li>


				 <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#transactions-history">Transactions History</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                 
                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                    <div class="col-lg-9 col-md-8">{{req.firstName+" "+req.middleName+" "+req.lastName}}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">mobile</div>
                    <div class="col-lg-9 col-md-8">{{req.mobile}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{req.email}}</div>
                  </div>

				  <div class="row">
                    <div class="col-lg-3 col-md-4 label">User Type</div>
                    <div class="col-lg-9 col-md-8">{{req.userType}}</div>
                  </div>

                </div>

                <div class="tab-pane fade account-info-edit pt-3" id="account-info-edit">


                  <!-- Profile Edit Form -->

                  <table class="table table-bordered" ng-hide="userList.length == 0">
                    <thead>
                        <tr>
                            <th>Sr</th>
                           
                            <th>Account Number</th>
                            <th>Account Type</th>
                            <!-- <th>Approva lStatus</th> -->
                            <!-- <th>Enabled/Disabled</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="tr in getAccountlist" >
                            <td ng-bind="begin + $index + 1"></td>
                            <td ng-bind="tr.accountNumber"></td>
                            <td ng-bind="tr.accountType"></td>
                            <!-- <td ng-bind="tr.routingNumber"></td>
                            <td ng-bind="tr.approvalStatus"></td> -->
                            <!-- <td ><input type="checkbox" data-toggle='toggle' data-uid='{{tr.id}}' class="toggle-button" ng-checked="tr.status == '1' ? '1' : ''"  ></td> -->
                             <!-- <td >
                            <a data-toggle="modal" ng-click="getUserById(tr.userId)" class="btn btn-outline btn-circle btn-sm yellow">
                              <i class="fa fa-edit"></i> Edit
                            </td> -->
                        </tr>
                    </tbody>
                </table>
                  <form>
               
                    <div class="row mb-3">
                      <label for="company" class="col-md-4 col-lg-3 col-form-label">Add Account</label>
                      <div class="col-md-8 col-lg-9">
                        <!-- <input name="company" type="text" class="form-control" id="company" value=" account type"> -->
                        <label for="inputZip" class="form-label">Account Type</label>
                        <select name="accountType" id="" ng-model="accountType"  class="form-control" >
                            <option value="">Please Select</option>
                            <option value="{{accountType.id}}" ng-repeat="accountType in accountTypeList">{{accountType.name}}</option>
                        </select>
                      </div>
                    </div>

                 

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary" ng-click="addAccount()">Save Changes</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

                <div class="tab-pane fade pt-3" id="transactions-history">
                  
                    
                  <div class="col-12">
              <div class="card recent-sales overflow-auto">
                <div class="row col-md-12">
                      
                       
                    <!-- <label for="amount" class="col-md-4 col-lg-3 col-form-label"> Please Select Account</label> -->
                    <div class="col-sm-3">
                        <select name="accountInfo" id="" ng-model="accountInfo"  class="form-control" ng-change="transactionHistory()">
                            <option value="">Please Select Account</option>
                            <option value="{{accountInfo.accountNumber}}" ng-repeat="accountInfo in getAccountlist">{{accountInfo.accountNumber+" "+accountInfo.accountType}}</option>
                        </select>
                    </div>
                  </div>


                <div class="card-body" ng-if="getAccountHistory.length>0">
                  <h5 class="card-title">Recent Transactions </h5>

                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">From Account</th>
                        <th scope="col">To Account</th>
                        <th scope="col">Credit / Debit</th>
                     	<th scope="col">Date</th>
                        <th scope="col">Status</th>
						<th scope="col">Event</th>
                        <th scope="col">Comments</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="tr in getAccountHistory" >
                            <th scope="row" ng-bind="begin + $index + 1"></th>
                            <td ng-bind="tr.fromAccount"></td>
                            <td ng-bind="tr.toAccount"></td>
                            <td>{{tr.credit}} / {{tr.debit}}</td>
                            <td ng-bind="tr.transactionDate"></td>
                            <td><span class="badge badge-danger"  ng-style="{'background-color': tr.transactionStatus === 'cleared' ? 'green' : 'red'}" >{{tr.transactionStatus}}</span></td>
							<td ng-bind="tr.event"></td>
                            <td ng-bind="tr.comments"></td>
                        </tr>
                    
                  
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Recent Sales -->

                </div>

                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <!-- Change Password Form -->
                  <form>

                    <div class="row mb-3">
                      <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="password" type="password" class="form-control" id="currentPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="newpassword" type="password" class="form-control" id="newPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                  </form><!-- End Change Password Form -->

                </div>

            
                   <div class="tab-pane fade pt-3" id="profile-balance-list">
                    <table class="table table-bordered" >
                        <thead>
                            <tr>
                                <th>Sr</th>
                                <th>From Account</th>
                                <th>Balance</th>
                                <th>Transaction Status</th>
                                <!-- <th>Approva lStatus</th> -->
                                <!-- <th>Enabled/Disabled</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="tr in getBalancelist" >
                                <td ng-bind="begin + $index + 1"></td>
                                <td ng-bind="tr.fromAccount"></td>
                                <td>{{tr.balance}}</td>
                                <td ng-bind="tr.transactionStatus"></td>
                                <!-- <td ng-bind="tr.routingNumber"></td>
                                <td ng-bind="tr.approvalStatus"></td> -->
                                <!-- <td ><input type="checkbox" data-toggle='toggle' data-uid='{{tr.id}}' class="toggle-button" ng-checked="tr.status == '1' ? '1' : ''"  ></td> -->
                                 <!-- <td >
                                <a data-toggle="modal" ng-click="getUserById(tr.userId)" class="btn btn-outline btn-circle btn-sm yellow">
                                  <i class="fa fa-edit"></i> Edit
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
   
                   </div>

                <div class="tab-pane fade pt-3" id="profile-beneficiary-info">

                    <table class="table table-bordered" ng-hide="userList.length == 0">
                        <thead>
                            <tr>
                                <th>Sr</th>
                                <th>Name</th>
                                <th>Account</th>
                                <th>Routing Number</th>
                                <th>Approval Status</th>
                                <!-- <th>Enabled/Disabled</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="tr in getBenficiarylist" apply-switch-for-user >
                                <td ng-bind="begin + $index + 1"></td>
                                <td ng-bind="tr.beneficiaryName"></td>
                                <td ng-bind="tr.beneficiaryAccount"></td>
                                <td ng-bind="tr.routingNumber"></td>
                                <td ng-bind="tr.approvalStatus"></td>
                                <!-- <td ><input type="checkbox" data-toggle='toggle' data-uid='{{tr.id}}' class="toggle-button" ng-checked="tr.status == '1' ? '1' : ''"  ></td> -->
                                 <!-- <td >
                                <a data-toggle="modal" ng-click="getUserById(tr.userId)" class="btn btn-outline btn-circle btn-sm yellow">
                                  <i class="fa fa-edit"></i> Edit
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                    
                   <div> <button  class="btn btn-primary">Add Beneficiary</button></div>
                    <form>
  
                      <div class="row mb-3">
                        <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Name</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="name" type="text" class="form-control" id="name" ng-model="name">
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">Account Number </label>
                        <div class="col-md-8 col-lg-9">
                          <input name="accountNumber" type="text" class="form-control" id="accountNumber" ng-model="accountNumber">
                        </div>
                      </div>
  
  
                      <div class="row mb-3">
                        <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">Routing Number </label>
                        <div class="col-md-8 col-lg-9">
                          <input name="routingNumber" type="text" class="form-control" id="routingNumber" ng-model="routingNumber">
                        </div>
                      </div>
  
                      <div class="row mb-3">
                        <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Account Type</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="accountType" type="text" class="form-control" id="accountType">
                        </div>
                      </div>
  
                      <div class="text-center">
                        <button type="submit" class="btn btn-primary" ng-click="addBenificiary()">Save</button>
                      </div>
                    </form><!-- End Change Password Form -->
  
                  </div>
                  <div class="tab-pane fade pt-3" id="profile-service-info">

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Sr</th>
                                <th>Task Type</th>
                                <th>Transaction Status</th>
                                <th>Transaction Date</th>
                                <th>Updated Date</th>
                                <th>Comments</th>
                                <!-- <th>Enabled/Disabled</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="tr in getserviceRequestlist" apply-switch-for-user >
                                <td ng-bind="begin + $index + 1"></td>
                                <td ng-bind="tr.taskType"></td>
                                <td ng-bind="tr.transactionStatus"></td>
                                <td ng-bind="tr.transactionDate"></td>
                                <td ng-bind="tr.updatedDate"></td>
                                <td ng-bind="tr.comments"></td>
                                <!-- <td ><input type="checkbox" data-toggle='toggle' data-uid='{{tr.id}}' class="toggle-button" ng-checked="tr.status == '1' ? '1' : ''"  ></td> -->
                                 <!-- <td >
                                <a data-toggle="modal" ng-click="getUserById(tr.userId)" class="btn btn-outline btn-circle btn-sm yellow">
                                  <i class="fa fa-edit"></i> Edit
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                    
                   <div> <button  class="btn btn-primary">Service Request</button></div>
                    <form>
  
                      <div class="row mb-3">
                        <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Service Type</label>
                        <div class="col-md-8 col-lg-9">
                          <select name="serviceType" id="" ng-model="serviceType"  class="form-control" >
                            <option value="">Please Select</option>
                            <option value="{{serviceType}}" ng-repeat="serviceType in accountServiceTypes">{{serviceType}}</option>
                        </select>
                        </div>
                        
                      </div>

                     
                      <div class="row mb-3">
                        <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Comments</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="commentService" type="text" class="form-control" id="commentService"  ng-model="commentService">
                        </div>
                      </div>
  
                      <div class="text-center">
                        <button type="submit" class="btn btn-primary" ng-click="addServiceRequest()">Save</button>
                      </div>
                    </form><!-- End Change Password Form -->
  
                  </div>
                  <div class="tab-pane fade pt-3" id="profile-beneficiary-list">
                    <table class="table table-bordered" ng-hide="userList.length == 0">
                        <thead>
                            <tr>
                                <th>Sr</th>
                                <th>Name</th>
                                <th>Account</th>
                                <th>Routing Number</th>
                                <th>Approva lStatus</th>
                                <!-- <th>Enabled/Disabled</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="tr in getBenficiarylist" apply-switch-for-user >
                                <td ng-bind="begin + $index + 1"></td>
                                <td ng-bind="tr.beneficiaryName"></td>
                                <td ng-bind="tr.beneficiaryAccount"></td>
                                <td ng-bind="tr.routingNumber"></td>
                                <td ng-bind="tr.approvalStatus"></td>
                                <!-- <td ><input type="checkbox" data-toggle='toggle' data-uid='{{tr.id}}' class="toggle-button" ng-checked="tr.status == '1' ? '1' : ''"  ></td> -->
                                 <!-- <td >
                                <a data-toggle="modal" ng-click="getUserById(tr.userId)" class="btn btn-outline btn-circle btn-sm yellow">
                                  <i class="fa fa-edit"></i> Edit
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
   
                   </div>



        <div class="tab-pane fade pt-3" id="transactions">
                 

			
		  <div class="card">
            <div class="card-body">
             
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Add Funds</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false" tabindex="-1">Withdraw Funds</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false" tabindex="-1">Transfer Money</button>
                </li>

                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-fund-tab" data-bs-toggle="pill" data-bs-target="#pills-fund" type="button" role="tab" aria-controls="pills-fund" aria-selected="false" tabindex="-1">Fund Transfer Requests</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-fund-history-tab" data-bs-toggle="pill" data-bs-target="#pills-fund-history" type="button" role="tab" aria-controls="pills-fund-history" aria-selected="false" tabindex="-1">Fund Transfer History</button>
                </li>

				<!-- <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-transaction-history-tab" data-bs-toggle="pill" data-bs-target="#pills-transaction-history" type="button" role="tab" aria-controls="pills-transaction-history" aria-selected="false" tabindex="-1">Transfer Amount</button>
                </li> -->

              </ul>
              <div class="tab-content pt-2" id="myTabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="home-tab">
                 

				<form id="addFunds" class="row g-3">

                    <div class="row col-md-12 ">
                      
                       
                        <label for="amount" class="col-md-4 col-lg-3 col-form-label">Source Account</label>
                        <div class="col-sm-3">
                            <select name="accountType" id="" ng-model="accountType"  class="form-control" >
                                <option value="">Please Select</option>
                                <option value="{{accountType.accountNumber}}" ng-repeat="accountType in getAccountlist">{{accountType.accountNumber+" "+accountType.accountType}}</option>
                            </select>
                        </div>
                      </div>

                  

                    <div class="row col-md-12 mt-2">
                      <label for="amount" class="col-md-4 col-lg-3 col-form-label">Enter the Amount</label>
                      <div class="col-sm-3">
                        <input type="number" name="amount" step="0.01"  class="form-control" id="amount" ng-model="amount">
                      </div>
                    </div>

					  <div class="row col-md-12 mt-2">
                      <label for="comments" class="col-md-4 col-lg-3 col-form-label">Enter the Comments</label>
                      <div class="col-sm-9">
                        <input name="comments" type="text" class="form-control" id="comments"  ng-model="comments">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="button" ng-click="addFunds()" class="btn btn-primary">Add Funds</button>
                    </div>
                  </form>
                  


                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="profile-tab">
                
                    <div class="row col-md-12">
                      
                       
                        <label for="amount" class="col-md-4 col-lg-3 col-form-label">Source Account</label>
                        <div class="col-sm-3">
                            <select name="withdrawAccountType" id="" ng-model="withdrawAccountType"  class="form-control" >
                                <option value="">Please Select</option>
                                <option value="{{withdrawAccountType.accountNumber}}" ng-repeat="withdrawAccountType in getAccountlist">{{withdrawAccountType.accountNumber+" "+withdrawAccountType.accountType}}</option>
                            </select>
                        </div>
                      </div>

                  

                    <div class="row col-md-12 mt-2" >
                      <label for="amount" class="col-md-4 col-lg-3 col-form-label">Enter the Amount</label>
                      <div class="col-sm-3">
                        <input type="number" name="amount" step="0.01"  class="form-control" id="withdrawAmount" ng-model="withdrawAmount">
                      </div>
                    </div>

					  <div class="row col-md-12 mt-2">
                      <label for="comments" class="col-md-4 col-lg-3 col-form-label">Enter the Comments</label>
                      <div class="col-sm-9">
                        <input name="withdrawComments" type="text" class="form-control" id="withdrawComments" ng-model="withdrawComments">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="button" ng-click="withdrawFunds()" class="btn btn-primary">Withdraw Funds</button>
                    </div> 
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="row col-md-12">
                      
                       
                        <label for="amount" class="col-md-4 col-lg-3 col-form-label">Source Account</label>
                        <div class="col-sm-9">
                            <select name="transfer" id="" ng-model="transfer"  class="form-control" >
                                <option value="">Please Select</option>
                                <option value="{{transfer.accountNumber}}" ng-repeat="transfer in getAccountlist">{{transfer.accountNumber+" "+transfer.accountType}}</option>
                            </select>
                        </div>
                      </div>
                      <div class="row col-md-12 mt-2">
                      
                       
                        <label for="amount" class="col-md-4 col-lg-3 col-form-label">Beneficiary Account </label>
                        <div class="col-sm-9">
                            <select name="toAccount" id="" ng-model="toAccount"  class="form-control" >
                                <option value="">Please Select</option>
                                <option value="{{toAccount.beneficiaryAccount}}" ng-repeat="toAccount in getBenficiarylist">{{toAccount.beneficiaryName+" "+toAccount.beneficiaryAccount}}</option>
                            </select>
                        </div>
                      </div>
                      

                  

                    <div class="row col-md-12 mt-2">
                      <label for="amount" class="col-md-4 col-lg-3 col-form-label">Enter the Amount</label>
                      <div class="col-sm-3">
                        <input type="number" name="amount" step="0.01"  class="form-control" id="amount" ng-model="transferAmount">
                      </div>
                    </div>

					  <div class="row col-md-12 mt-2">
                      <label for="comments" class="col-md-4 col-lg-3 col-form-label">Enter the Comments</label>
                      <div class="col-sm-9">
                        <input name="comments" type="text" class="form-control" id="comments" ng-model="transferComments">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="button" ng-click="transferFunds()" class="btn btn-primary">Transfer Funds</button>
                    </div> 
                </div>

                <div class="tab-pane fade" id="pills-fund" role="tabpanel" aria-labelledby="pills-fund">

                  <div class="row col-md-12 mt-2">
                    
                     
                    <label for="amount" class="col-md-4 col-lg-3 col-form-label">Beneficiary Account </label>
                    <div class="col-sm-9">
                        <select name="fundFromAccount" id="" ng-model="fundFromAccount"  class="form-control" >
                            <option value="">Please Select</option>
                            <option value="{{toAccount.beneficiaryAccount}}" ng-repeat="toAccount in getBenficiarylist">{{toAccount.beneficiaryName}} - {{toAccount.beneficiaryAccount}}</option>
                        </select>
                    </div>
                  </div>

                  <div class="row col-md-12  mt-2">
                    
                     
                      <label for="amount" class="col-md-4 col-lg-3 col-form-label">My Account</label>
                      <div class="col-sm-9">
                          <select name="fundToAccount" id="" ng-model="fundToAccount"  class="form-control" >
                              <option value="">Please Select</option>
                              <option value="{{transfer.accountNumber}}" ng-repeat="transfer in getAccountlist">{{transfer.accountNumber}} - {{transfer.accountType}}</option>
                          </select>
                      </div>
                    </div>
                   
                    

                

                  <div class="row col-md-12 mt-2">
                    <label for="amount" class="col-md-4 col-lg-3 col-form-label">Enter the Amount</label>
                    <div class="col-sm-3">
                      <input type="number" name="amount" step="0.01"  class="form-control" id="amount" ng-model="fundAmount">
                    </div>
                  </div>

          <div class="row col-md-12 mt-2">
                    <label for="comments" class="col-md-4 col-lg-3 col-form-label">Enter the Comments</label>
                    <div class="col-sm-9">
                      <input name="comments" type="text" class="form-control" id="comments" ng-model="fundComments">
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="button" ng-click="transferFundsRequest()" class="btn btn-primary"> Funds Request</button>
                  </div> 
              </div>
              <div class="tab-pane fade" id="pills-fund-history" role="tabpanel" aria-labelledby="pills-fund-history">

                <div class="row col-md-12 mt-2">
                  
                  
                  <table class="table table-bordered" >
                    <thead>
                        <tr>
                            <th>Sr</th>
                           
                            <th>From Account </th>
                            <th>To Account</th>
                            <th>Comments</th>
                            <th>Amount</th>
                            <th>Transaction Id</th>
                            <th>Transaction Status</th>
                          
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="tr in getfundRequestlist" >
                            <td ng-bind="begin + $index + 1"></td>
                            <td ng-bind="tr.fromAccount"></td>
                            <td ng-bind="tr.toAccount"></td>
                            <td ng-bind="tr.comments"></td>
                            <td ng-bind="tr.amount"></td>
                            <td ng-bind="tr.transactionId"></td>
                            <td>
                              {{tr.transactionStatus}}
                              <button ng-if="tr.transactionStatus === 'Pending'" ng-click="approveTransaction(tr.transactionId)" style="background-color: aqua;">Approve</button>
                          </td>
                          

                            <!-- <td ng-bind="tr.routingNumber"></td>
                            <td ng-bind="tr.approvalStatus"></td> -->
                            <!-- <td ><input type="checkbox" data-toggle='toggle' data-uid='{{tr.id}}' class="toggle-button" ng-checked="tr.status == '1' ? '1' : ''"  ></td> -->
                             <!-- <td >
                            <a data-toggle="modal" ng-click="getUserById(tr.userId)" class="btn btn-outline btn-circle btn-sm yellow">
                              <i class="fa fa-edit"></i> Edit
                            </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>

				<div class="tab-pane fade" id="pills-transaction-history" role="tabpanel" aria-labelledby="transaction-history-tab">
                  List of transactions 
                </divf 

              </div><!-- End Pills Tabs -->

            </div>
          </div>

                </div>


			<div class="tab-pane fade pt-3" id="transactions-history-1">
			This is what we need
                   
				

                </div>


                  

                </div>


              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Banking Application</span></strong>. All Rights Reserved
    </div>
    
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="plugins/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="plugins/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="plugins/assets/vendor/chart.js/chart.umd.js"></script>
  <script src="plugins/assets/vendor/echarts/echarts.min.js"></script>
  <script src="plugins/assets/vendor/quill/quill.min.js"></script>
  <script src="plugins/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="plugins/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="plugins/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="plugins/assets/js/main.js"></script>

<script>

  function validateAndProcessAddFunds(){

	  }
</script>
</body>

</html>